$statusBar-height: 20px;
$header-height: 44px;
$tabBar-height: 49px;

$search-height: 30px;

$homeCell-height: 64px;
$cell-height: 50px;

$tabbar-color: #fafafa;
$header-color: #f2f2f2;
$border-color: #eee;

